[Unit]
Description=master-of-zen.xyz website rocket
After=network.target

[Service]
Type=simple
ExecStart=/home/zen/Code/Master-Of-Zen-Blog/
WorkingDirectory=/home/zen
Restart=on-failure

[Install]
WantedBy=multi-user.target
